In [1]:
import pandas as pd

data = pd.read_csv("pone.0156316.s0021.csv", na_values="?")

In [2]:
data.head()

   ID   Status Ethnicity ACVR1B
0  C1  Control     white     GA
1  C2  Control     white     GG
2  C3  Control     white     AA
3  C4  Control     white     GG
4  C5  Control     white     GA

In [3]:
print(data.isna().sum().max())

2

In [4]:
data = data.dropna()
print(data.isna().sum().max())

0

In [5]:
data['ACVR1B'] = pd.factorize(data.ACVR1B)[0]
data['Status'] = pd.factorize(data.Status)[0]
data['Ethnicity'] = pd.factorize(data.Ethnicity)[0]
data['ID'] = pd.factorize(data.ID)[0]

data.head()

   ID  Status  Ethnicity  ACVR1B
0   0       0          0       0
1   1       0          0       1
2   2       0          0       2
3   3       0          0       1
4   4       0          0       0

In [6]:
data.describe(exclude=[object])

                ID       Status    Ethnicity       ACVR1B
count  2170.000000  2170.000000  2170.000000  2170.000000
mean   1084.500000     0.500000     4.230415     1.951152
std     626.569363     0.500115     2.547727     1.314322
min       0.000000     0.000000     0.000000     0.000000
25%     542.250000     0.000000     1.000000     1.000000
50%    1084.500000     0.500000     6.000000     2.000000
75%    1626.750000     1.000000     6.000000     2.000000
max    2169.000000     1.000000     7.000000     4.000000

In [7]:
grouped = data.groupby(data.Status)
Control = grouped.get_group(0)

In [8]:
print(Control)

        ID  Status  Ethnicity  ACVR1B
0        0       0          0       0
1        1       0          0       1
2        2       0          0       2
3        3       0          0       1
4        4       0          0       0
...    ...     ...        ...     ...
2029  2026       0          6       2
2030  2027       0          6       4
2031  2028       0          6       2
2032  2029       0          6       4
2033  2030       0          6       2

[1085 rows x 4 columns]

In [9]:
Athlete = grouped.get_group(1)
print(Athlete)

        ID  Status  Ethnicity  ACVR1B
253    253       1          3       1
254    254       1          0       2
255    255       1          0       0
256    256       1          0       2
257    257       1          0       2
...    ...     ...        ...     ...
2168  2165       1          6       2
2169  2166       1          6       4
2170  2167       1          6       2
2171  2168       1          6       2
2172  2169       1          6       4

[1085 rows x 4 columns]

In [10]:
Control.describe(exclude=[object])

                ID  Status    Ethnicity       ACVR1B
count  1085.000000  1085.0  1085.000000  1085.000000
mean   1070.423963     0.0     4.764977     2.168664
std     627.122988     0.0     2.270269     1.289374
min       0.000000     0.0     0.000000     0.000000
25%     744.000000     0.0     6.000000     2.000000
50%    1140.000000     0.0     6.000000     2.000000
75%    1411.000000     0.0     6.000000     4.000000
max    2030.000000     0.0     6.000000     4.000000

In [11]:
Athlete.describe(exclude=[object])

                ID  Status    Ethnicity       ACVR1B
count  1085.000000  1085.0  1085.000000  1085.000000
mean   1098.576037     1.0     3.695853     1.733641
std     625.987718     0.0     2.694745     1.303565
min     253.000000     1.0     0.000000     0.000000
25%     524.000000     1.0     1.000000     0.000000
50%     879.000000     1.0     6.000000     2.000000
75%    1650.000000     1.0     6.000000     2.000000
max    2169.000000     1.0     7.000000     4.000000

In [12]:
from sklearn.model_selection import train_test_split
z = data.drop(columns = ["Status", "ID"])
x, y = z, data["Status"]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [13]:
print(X_train)

      Ethnicity  ACVR1B
517           0       0
1873          6       4
1588          6       4
1149          6       2
1050          6       2
...         ...     ...
1034          6       1
1734          6       4
764           6       2
836           6       0
1655          6       2

[1519 rows x 2 columns]

In [14]:
print(y_train)

517     1
1873    0
1588    1
1149    0
1050    0
       ..
1034    0
1734    1
764     0
836     1
1655    1
Name: Status, Length: 1519, dtype: int64

In [15]:
print(X_test)

      Ethnicity  ACVR1B
194           2       2
387           1       1
447           0       2
1855          6       2
2169          6       4
...         ...     ...
480           0       2
821           6       0
1633          6       4
1016          6       2
271           0       2

[651 rows x 2 columns]

In [16]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors = 40)

# Train the model using the training sets
model.fit(X_train,y_train)

#Predict Output
predicted= model.predict(X_test)
print(predicted)

[1 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 1 0 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 1 1
 1 0 1 1 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 1
 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 1 1 1
 1 0 1 1 1 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 0 1 1 0 1 0 0 1 1 0
 0 1 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 0 1 1
 0 1 0 0 1 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 0 1 0 0 1 1 1 0 1 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1
 0 0 0 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 1 1 0 1 0 1 0 1 0 0 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 0
 0 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 1 1 0 1 1
 1 1 1 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 0 1 1
 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0
 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 0 1 0
 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0
 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 0 1 0 0 1
 1 0 1 0 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 1]

In [17]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,predicted))
print(confusion_matrix(y_test,predicted))

              precision    recall  f1-score   support

           0       0.59      0.73      0.65       323
           1       0.65      0.50      0.57       328

    accuracy                           0.62       651
   macro avg       0.62      0.62      0.61       651
weighted avg       0.62      0.62      0.61       651

[[236  87]
 [163 165]]

In [18]:
from sklearn.metrics import accuracy_score

print('Accuracy Score:', round(accuracy_score(y_test, predicted), 5))

Accuracy Score: 0.61598

In [19]:
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train,y_train)
Menna = clf.predict(X_test)
print(clf.predict(X_test))

[1 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 1 0 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 1 1
 1 0 1 1 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 1
 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 1 1 1
 1 0 1 1 1 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 0 1 1 0 1 0 0 1 1 0
 0 1 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 0 1 0 0 1 1
 0 1 0 0 1 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 1 1 1 0 1 0 0 1 1 1 0 1 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 1 1 1
 0 0 0 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 1 1 0 1 0 1 0 1 0 0 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 0
 0 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 1 1 0 1 1
 1 1 1 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 0 1 1
 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0
 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 0 1 0
 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0
 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 0 1 0 0 1
 1 0 1 0 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 1]

In [20]:
from sklearn.metrics import accuracy_score

print('Accuracy Score:', round(accuracy_score(y_test, Menna), 5))

Accuracy Score: 0.61598